{% extends "base.html" %}

{% block content %}
    <section class="hero">
      <div class="hero-body">
        <div>
          <h1 class="title">
            Hashitalks Vault K8S demo
          </h1>
          <p class="body"><font color="#363942">
            <br><p>
            Welcome to HashiTalks!
            <p align="center"><br><img src="/static/hashitalks-kapil.png" ><br></p>
            <br>
            </font></p>
        </div>
        </p>
      </div>
    </section>
{% endblock %}